body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #3498db;
}

img {
    border-radius: 50%;
    max-width: 200px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#forecastContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.forecast-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}